---
---
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/assets/css/main.min.css">
    {% include frontpage/head.html %}
</head>

<body>

    <!-- Navigation -->
    {% include _navigation.html %}

    <!-- Header -->
    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Glucosio</h1>
                        <h3>Open Source Tools for Diabetes</h3>
                        <hr class="intro-divider">
                        {% include frontpage/social_buttons.html list_class="intro-social-buttons" %}
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">What is Glucosio?</h2>
                    <p class="lead">Glucosio is a open source project focus on creating open source tools for Diabetes. We believe with open tools people with Diabetes can improve their health outcomes.</p>
                    <p class="lead">Unlike other apps for Diabetes we intend to create a feature rich experience with third-party integrations, tips and the ability to support diabetes research.</p>
                  </div>
                 <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                     <img class="img-responsive" src="images/android.png" alt="Android Screenshot">
                 </div>
             </div>
         </div>
         <!-- /.container -->
    </div>
    <!-- /.content-section-a -->

   <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Free and Open Source</h2>
                    <p class="lead">We believe in the power of free and open source software. All of the project source code is available on <a href="https://github.com/glucosio">Github</a><br><br>Want to get involved? Feel free to send us a pull request!</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="images/github-octocat.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Help us improve Glucosio:</h2>
                </div>
                <div class="col-lg-6">
                    {% include frontpage/social_buttons.html list_class="banner-social-buttons" %}
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright text-muted small">Copyright &copy; Glucosio Project 2015. <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.<br>
                    Header image by <a href="https://www.flickr.com/photos/wwarby/9638549539/in/photostream/">William Warby</a>. Template from <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap Material Elements -->
    <link rel="stylesheet" href="assets/css/material.min.css">
    <link rel="stylesheet" href="assets/css/ripples.min.css">
    <script src="assets/js/ripples.min.js"></script>
    <script src="assets/js/material.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="assets/js/bootstrap.min.js"></script>
        <script>
    // Enable material animations
    $.material.init();
    </script>
</body>
</html>
