&copy; {{ site.time | date: "%Y" }} Glucosio

<nav>
    <a href="/about">About</a> &middot;
    <a href="/blog">Blog</a> &middot;
    <a href="/faq">FAQ</a> &middot;
    <a href="/support">Support</a> &middot;
    <a href="/privacy">Privacy</a> &middot;
    <a href="/contribute">Contribute</a>
</nav>

<nav class="social">
    {% if site.inc.twitter %}
    <a href="https://twitter.com/{{ site.inc.twitter }}" title="Follow on Twitter" target="_blank"><i class="icon icon-twitter black"></i></a>
    {% endif %}
    {% if site.inc.facebook %}
    <a href="http://facebook.com/{{ site.inc.facebook }}" title="Follow on Facebook" target="_blank"><i class="icon icon-facebook black"></i></a>
    {% endif %}
    <a href="/feed.xml" title="RSS Feed">
        <i class="icon icon-rss black"></i>
    </a>
</nav>
<!-- Import jQuery -->
<script src="/assets/js/jquery-2.1.4.min.js"></script>
<!-- Bootstrap Material Elements -->
<link rel="stylesheet" href="/assets/css/material.min.css">
<link rel="stylesheet" href="/assets/css/ripples.min.css">
<script src="/assets/js/ripples.min.js"></script>
<script src="/assets/js/material.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/assets/js/bootstrap.min.js"></script>
<script>
// Enable material animations
$.material.init();
</script>
